#忽略build
build/

#忽略db
# db/

#忽略dist
dist/

#忽略
test_ap_1100.xlsx


#忽略test
test/


#忽略test_data
test_data/

# 打包.txt

module/costs/q.py

module/pages/test.py
module/pages/test_page.py

test_module/

.streamlit/